$colors: (
    // Gradient combinations
    hyper-blue: (
        sky-blue-300: #59CDE9,
        resolution-blue-900: #0A2A88,
    ),
    by-design: (
        dodger-blue-500: #1fddff,
        red-ribbon-500: #ff4b1f,
    ),
    pizelex: (
        teal-blue-900: #114357,
        geraldine-400: #f29492
    )
)